.ant-anchor-wrapper .ant-anchor{
	width:200px;
	position:fixed;
	left:1%;
	top:160px;
	display:none;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.btnbox{
	width: 1200px;
	height: 42px;
	margin: 20px auto;
	background: #f7f8f8;
	padding: 6px 0 0 20px;
}
.btnbox .active{
	background: white;
	color: orangered;
}
.btnbox span{
	display: inline-block;
	min-width: 70px;
	height: 30px;
	text-align: center;
	line-height: 26px;
	border: 1px solid #d6d6d6;
	font-size: 14px;
	margin-left: 5px;
	padding: 2px;
	box-sizing: border-box;
	cursor: pointer;
}
#root .products{
	width: 100%;
	min-height: 600px;
	padding-top: 10px;
	margin-bottom: 30px;
}
#root .products .products_content{
	width: 1200px;
	margin: 0 auto;
}

#root .ant-pagination{
	text-align: center;
	margin-bottom: 30px;
}

.imgbox{
	float: left;
	width: 400px;
	height: 400px;
}

.imgbox img{
	width: 100%;
	height: 100%;
}
.detailbox{
	width: calc(96% - 400px);
	float: right;
	text-align: center;
}
.detail{
	width: 100%;
	height: 98px;
	background: #f7f8f8;
	margin-top: 30px;
	padding: 20px 22px;
	box-sizing: border-box;
}
.detail>span{
	display: inline-block;
	width: 260px;
	text-align: left;
	line-height: 26px;
	float: left;
}
.detail>span:nth-child(1){
	margin-top: 10px;
}
.detail>span:nth-child(2){
	width: 300px;
}
.detail>span>span{
	font-size: 32px;
}
.detail>span>p>span{
	font-size: 20px;
	text-align: center;
}
.totalpricebox{
	margin-left: 80px;
}
.totalprice{
	color: #F71127;
	font-size: 24px;
}
.num{
	margin-top: 40px;
	text-align: left;
}
.buy,.addcart{
	width: 164px;
	height: 47px;
	text-align: center;
	line-height: 47px;
	color: white;
	font-size: 20px;
	display: inline-block;
	float: left;
	margin-top: 50px;
	margin-right: 50px;
}
.buy{
	background: url(../images/buy.png);
}
.addcart{
	background: url(../images/addcart.png);
}
.buy:hover,.addcart:hover{
	color: white;
}


#root .avatar-uploader > .ant-upload {
	width: 128px;
	height: 128px;
	margin: 0 auto;
	float: none;
  }

.prod_img{
	text-align: center;
}
.none{
	width:40%;
	margin: auto;
}