.ant-anchor-wrapper .ant-anchor{
	width:200px;
	position:fixed;
	left:1%;
	top:160px;
	display:none;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
#root .avatar-uploader > .ant-upload {
	width: 128px;
	height: 128px;
	margin: 0 auto;
	float: none;
  }
  