footer{
	width:100%;
	height:350px;
	border-top:2px solid #f2f2f2;
}
.foot{
	width:1200px;
	height:100%;
	margin:0 auto;
}
.foot .foot_top{
	width:1200px;
	text-align:center;
	border-bottom:2px solid #f2f2f2;
}
.foot .foot_top img{
	width:1000px;
	margin:20px 0 20px 0;
}
.foot .foot_nav{
	width:490px;
	height:40px;
	border:1px solid #d8d8d8;
	text-align:center;
	line-height:38px;
	margin:20px auto;
}
.foot .foot_nav a{
	color:#4a4a4a;
}
.foot .foot_nav a:hover{
	color:red;
}
.foot .foot_img{
	text-align:center;
	margin-bottom:12px;
}
.foot .foot_img img{
	width:90px;
	height:35px;
}
.foot p{
	text-align:center;
	margin-bottom:0;
}