
header{
	background: rgb(248,248,248);
	height: 32px;
	width: 100%;
}
.head_content{
	width: 1200px;
	margin: 0 auto;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
}
.head_content a{
	color: #4a4a4a;
}
.head_content a:hover{
	color: orangered;
}
.head_content>div{
	float: left;
}
.head_content ul{
	display: inline-block;
	float: right;
}
.head_content ul>li{
	float: left;
	margin: 0 6px;
}

.logo{
	width: 100%;
	height: 103px;
	padding: 10px 0 0 0;
	background: white;
}
.logo_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.logo_content img{
	width: 149px;
	height: 57px;
	margin-right: 30px;
	display: inline-block;
	float: left;
}
.logo_content .search{
	width: 488px;
	height: 40px;
	margin: 15px auto 0;
	float: left;
}
.logo_content .ant_input,.logo_content .search_btn{
	height: 40px;
	border-radius: 0;
	float: right;
}
.logo_content .search_btn{
	display: inline-block;
	width: 88px;
	background: #C00009;
	outline: none;
	color: white;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	position: relative;
}
.logo_content input{
	height: 40px;
	width: 400px;
	box-sizing: border-box;
	border:2px solid #C00009;
	padding: 0 10px 0;
}
.logo_content .mymall,.logo_content .mycart{
	display: inline-block;
	float: right;
	width: 149px;
	height: 44px;
	line-height: 44px;
	text-indent: 60px;
	color: #4A4A4A;
	margin-top: 12px;
}
.logo_content .mymall{
	background-image: url(../images/mymall-bg.png);
	margin-right: 20px;
}
.logo_content .mycart{
	background-image: url(../images/mycart-bg.png);
}
.menu{
	width: 100%;
	height: 38px;
	background: #F71127;
}
.menu .menu_content{
	width: 1200px;
	height: 38px;
	line-height: 38px;
	margin: 0 auto; 
}
.menu .menu_content ul>li{
	float: left;
	font-size: 16px;
	line-height: 38px;
	margin-right: 18px;
}
.menu .menu_content ul>li:hover{
	font-weight: bold;
}
.menu .menu_content ul>li a{
	color: white;

}
.banner{
	width: 100%;
	height: 356px;
	overflow: hidden;
}
.banner img{
	width: 100%;
	height: 356px;
}
.jingxuan{
	width: 100%;
	height: 450px;
	background: rgb(248,248,248);
}
.jingxuan .jingxuan_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.jingxuan .jingxuan_content .timg{
	text-align: center;
	padding-top: 20px;
}
.jingxuan .jingxuan_content .pditem{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}
.jingxuan .jingxuan_content .jxitem{
	width: 240px;
	height: 280px;
}
.jxit{
	background: white;
}
.hot{
	color: red;
}
.products{
	width: 100%;
	height: 4800px;
	background: rgb(248,248,248);
	padding-top: 10px;
}
.products .products_content{
	width: 1200px;
	margin: 0 auto;
}
.products .products_content .tip{
	margin-top: 10px;
}
.products .products_content .before{
	margin-right: 15px;
	margin-top: 40px;
}
.products h2{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-top: 40px;
}
.youdianitem{
	width: 100%;
	min-height: 300px;
	float: left;
	background: white;
	margin-top: 10px;
}
.yditem{
	width: 300px;
	height: 300px;
	float: left;
	padding: 20px;
	background: white;
	border:1px solid white;
	box-sizing:border-box;
}
.yditem:hover{
	border:1px solid #DCDCDC;
}
.youdianitem span{
	float: right;
	font-weight: bold;
}
.ydimg{
	width: 260px;
	height: 200px;
}

.floweritem{
	width: 100%;
	min-height: 300px;
	float: left;
	background: white;
	margin-top: 10px;
}
.fitem{
	width: 300px;
	height: 300px;
	float: left;
	padding: 20px;
	background: white;
	border:1px solid white;
	box-sizing:border-box;
}
.fitem:hover{
	border:1px solid #DCDCDC;
}
.fitem span{
	float: right;
	font-weight: bold;
}
.fimg{
	width: 260px;
	height: 200px;
}
.bimg{
	margin:0 auto;
	width:150px;
	height:200px;
}
.bitem{
	text-align:center;
	width: 300px;
	height: 300px;
	float: left;
	padding: 20px;
	background: white;
	border:1px solid white;
	box-sizing:border-box;
}
.bitem:hover{
	border:1px solid #DCDCDC;
}
footer{
	width:100%;
	height:300px;
	border-top:2px solid #f2f2f2;
}
.foot{
	width:1200px;
	height:100%;
	margin:0 auto;
}
.foot .foot_top{
	width:1200px;
	text-align:center;
	border-bottom:2px solid #f2f2f2;
}
.foot .foot_top img{
	width:1000px;
	margin:20px 0 20px 0;
}
.foot .foot_nav{
	width:490px;
	height:40px;
	border:1px solid #d8d8d8;
	text-align:center;
	line-height:38px;
	margin:20px auto;
}
.foot .foot_nav a{
	color:#4a4a4a;
}
.foot .foot_nav a:hover{
	color:red;
}
.foot .foot_img{
	text-align:center;
	margin-bottom:12px;
}
.foot .foot_img img{
	width:90px;
	height:35px;
}
.foot p{
	text-align:center;
	margin-bottom:0;
}
.fixed{
	width:40px;
	height:82px;
	position:fixed;
	right:0;
	bottom:150px;
	text-align:center;
	color:white;
}
.fixed p{
	color:white;
	margin:0;
}

.phone{
	width:40px;
	height:40px;
	background:rgb(255,87,27);
	background:url(../images/sidebar_dbmall.png) 0 -40px no-repeat;
	position:relative;
}
.phone:hover{
	background:url(../images/sidebar_dbmall.png) -40px -40px no-repeat;

}
.wx{
	margin-top:2px;
	width:40px;
	height:40px;
	background:rgb(255,87,27);
	background:url(../images/sidebar_dbmall.png) 0 -80px;
	position:relative;
	overflow:hidden;
}
